<p class="publish clearfix"><%= link_to '新建作者', new_author_path %></p>

<table width="100%" style="margin-top: 15px">
  <tr>
    <th>姓名</th>
    <th>介绍</th>
    <th>朝代</th>
    <th>生卒</th>
    <th>操作</th>
  </tr>

  <% @authors.each do |author| %>
      <tr>
        <td><%= link_to author.name, author %></td>
        <td width="60%"><%= author.description.to_s.truncate(67) -%></td>
        <td><%= author.dynasty -%></td>
        <td><%= author.birthday -%></td>
        <td>
          <%= link_to '编辑', edit_author_path(author) if author.can_edit?(current_user) %>
          <%= link_to '删除', author, method: :delete, data: {confirm: 'Are you sure?'} if author.can_delete?(current_user) %>
        </td>
      </tr>
  <% end %>
</table>
<div class="panel-footer clearfix">
  <%= will_paginate @authors %>
  共 <%= @authors.total_entries %> 条
</div>
