<%= render :partial => 'layouts/sidebar', :locals => {:author => @piece.author_class} -%>
<div class="detail">
  <p id="notice"><%= notice %></p>

  <p class="title">
    <%= @piece.title %>
  </p>

  <p class="source">
    由
    <%= @piece.user.try(:name) -%>
    于
    <%= @piece.created_at.strftime('%Y-%m-%d %H:%M:%S') -%>
    发布
  </p>

  <p>
    <%= @piece.content %>
  </p>

  <%= link_to '编辑', edit_piece_path(@piece) if @piece.can_edit?(current_user) %> |
  <%= link_to '返回', pieces_path %>
</div>
<%= render :partial => 'layouts/comments', :locals => {:subject => @piece, :genre => 3} -%>
